.App {
  max-height: 100vh;
  margin-top: 5vh;
  margin-bottom: 0;
  text-align: center;
}

.save-date {
  max-height: 100vh;
  text-align: center;
}

body,
a {
  color: white;
  background-color: #323232;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: #ffffff; /* Blanco al pasar el ratón */
  text-shadow:
    0 0 5px #ffd700,
    0 0 10px #ffd700; /* Efecto de resplandor dorado */
}

.title-text {
  font-family: 'Sisterhood', sans-serif;
  font-size: 6rem;
  margin-top: 0;
  margin-bottom: 0;
}

.name-date {
  font-family: 'BodoniflfRoman', sans-serif;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* vertical mobile display */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  header {
    font-size: 2rem;
    max-height: 0;
    text-align: center;
  }

  main {
    font-size: 1.2rem;
    max-height: 80vh;
    text-align: center;
  }

  footer {
    max-height: 20vh;
    text-align: end;
  }

  .show-counter {
    font-size: 0.85rem !important;
  }
}

/* horizontal mobile display */
@media only screen and (max-height: 600px) and (orientation: landscape) {
  header {
    max-height: 0;
    font-size: 2rem;
    text-align: center;
  }

  main {
    max-height: 80vh;
    font-size: 1.2rem;
    text-align: center;
  }

  footer {
    max-height: 20vh;
    text-align: end;
  }

  .title-text {
    display: inline;
    margin-left: 10vh;
  }

  .App {
    margin-top: 2vh;
  }
}
