body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Sisterhood';
  src: local('Sisterhood'), url(./fonts/Sisterhood.ttf) format('truetype');
}

@font-face {
  font-family: 'BodoniflfRoman';
  src: local('BodoniflfRoman'), url(./fonts/BodoniflfRoman-vmAD.ttf) format('truetype');
}
