/* General form container */
.form-container {
  background-color: #3d3c3c;
  border-radius: 10px;
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.1);
  margin: auto;
  padding: 20px;
  width: 60vw;
}

.h2-form {
  color: #FFD700;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

.h3-form {
  color: #FFD700;
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.acompanante-container {
  border: 1px solid #FFD700;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
}

.acompanante-container h4 {
  color: #FFD700;
}

.button-rsvp {
  align-items: center;
  background-color: #FFD700;
  border: none;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  display: flex;
  font-size: 1em;
  justify-content: center;
  margin-left: 22%;
  max-width: 66vh;
  padding: 10px;
  width: 100%;
}

.button-submit {
  margin-top: 20px;
}

input, select {
  background-color: #323232;
  border: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
}

.label-container {
  align-items: center;
  display: flex;
  margin-bottom: 5px;
}

label {
  color: white;
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.map-container {
  align-items: center;
  background-color: #323232;
  display: flex;
  justify-content: center;
  width: 100%;
}

.modal {
  background: #333;
  border-radius: 5px;
  display: flex;
  float: left;
  flex-direction: column;
  height: auto;
  left: 50%;
  max-width: 70vh;
  padding: 2px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1001;
}

.modal-backdrop {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #333;
  margin: 2vh 2vh 2vh 2vh;
  max-width: 66vh;
}

.select-container {
  align-items: center;
  display: flex;
}

.tooltip {
  background-color: #555;
  bottom: 60%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: 'BodoniflfRoman', sans-serif;
  font-size: 1rem;
  left: 18%;
  opacity: 0;
  padding: .5rem 1rem;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.3s ease;
  user-select: none;
  width: 40vw;
  z-index: 1;
}

button:hover {
  background-color: #FFD700;
  transform: scale(1.05);
}

.info-icon {
  color: white;
  cursor: pointer;
  margin-left: 5px;
  vertical-align: middle;
}

:has(> .tooltip) {
  position: relative;
}

:has(> .tooltip):hover .tooltip {
  opacity: 1;
}

/* vertical mobile display */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .center-container {
    flex-direction: column;
  }
  .location-text {
    margin-left: 1vh;
  }

  .form-container {
    width: 90vw;
  }

  .button-rsvp{
    margin-left: 0;
  }

  .tooltip {
    width: 60vw;
  }
}

/* horizontal mobile display */
@media only screen and (max-height: 600px) and (orientation: landscape) {
  .center-container {
    flex-direction: column;
  }
}
