.form-container {
  background-color: #3d3c3c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.1);
  width: 60vw;
  margin: auto;
}

.h2-form {
  text-align: center;
  color: #FFD700;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.h3-form {
  text-align: center;
  color: #FFD700;
  font-size: 2em;
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  color:  white;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #323232;
  color:  white;
}

button {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: #FFD700;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  max-width: 66vh;
  justify-content: center;
  align-items: center;
  margin-left: 22%;
}

.button-submit {
  margin-top: 20px;
}

button:hover {
  background-color: #FFD700;
  transform: scale(1.05);
}

.acompanante-container {
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #FFD700;
  padding: 10px;
  border-radius: 5px;
}

.acompanante-container h4 {
  color: #FFD700;
}

.info-icon {
  margin-left: 5px;
  color: white;
  cursor: pointer;
  vertical-align: middle;
}

.tooltip {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: .5rem 1rem;
  font-size: 1rem;
  font-family: 'BodoniflfRoman', sans-serif;
  opacity: 0;
  bottom: 50%;
  left: 18%;
  transition: opacity 0.3s ease;
  background-color: #555;
  color: #fff;
}

:has(> .tooltip) {
  position: relative;
}

:has(> .tooltip):hover .tooltip {
  opacity: 1;
}

.select-container {
  display: flex;
  align-items: center;
}

.label-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.modal-backdrop {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #333;
  padding: 2px;
  border-radius: 5px;
  max-width: 70vh;
  width: 100%;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}

.modal-content {
  margin: 2vh 2vh 2vh 2vh;
  max-width: 66vh;
  background: #333;
}
