/* Estilos generales */
body {
	background-color: #f4f4f4;
	color: #333;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

.home {
	display: flex;
	text-align: center;
}

.image img {
	display: flex;
	flex: 1;
	margin: 20px 20px 20px 20px;
	max-width: 50vw;
	max-height: 70vh;
}

.welcome-page {
	border-radius: 8px;
	flex: 1;
	margin: 20px 20px 20px 20px;
	max-width: 50vw;

	h1 {
		color: white;
		font-weight: bold;
		text-align: center;
	}

	p {
		font-size: 1.2rem;
		margin: 1rem 0;
	}

	.accordion-button {
		background: transparent;
		border: 1px solid #FFD700;
		border-radius: 8px;
		box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
		cursor: pointer;
		margin-top: 20px;
		transition: background-color 0.3s ease;
		width: 92vw;
	}

	.faq-section {
		align-items: center;
		display: flex;
		justify-content: space-between;
		min-height: 4vw;
		text-align: left;
	}

	.accordion-content {
		overflow: hidden;
		transition: max-height 0.6s ease;

		a {
			color: #FFD700;
			border-radius: 4px;
			display: inline-block;
			margin-top: 1rem;
			text-decoration: none;
			transition: background-color 0.3s ease;
		}

		a:hover {
			color: #FFFFFF; /* Blanco al pasar el ratón */
			text-shadow: 0 0 5px #FFD700, 0 0 10px #FFD700; /* Efecto de resplandor dorado */
		}
	}

	.answer-divider {
		border-top: 5px solid #FFD700;
		padding-top: 10px;
	}

	.h2-home {
		font-weight: bold;
		margin-left: 20px;
		margin-right: auto;
	}

	.h3-home {
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 5px;
	}

	.question-icon {
		background: none;
		border: none;
		color: #FFD700;
		cursor: pointer;
		font-size: 17px;
		margin-left: auto;
		margin-right: 20px;
		transition: transform 0.3s ease;
	}

	.question-icon .rotate {
		transform: rotate(45deg);
	}
}
