.footer {
  background-color: #323232;
  border-top: 2px solid #ffd700; /* Línea dorada */
  color: #ffd700; /* Color dorado */
  font-family: 'BodoniflfRoman', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  max-height: 10vh;
  padding: 1rem;
  text-align: center;

  a {
    color: #ffd700;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }

  a:hover {
    color: #ffffff; /* Blanco al pasar el ratón */
    text-shadow:
      0 0 5px #ffd700,
      0 0 10px #ffd700; /* Efecto de resplandor dorado */
  }

  p {
    background-color: #323232;
    margin-bottom: 5px;
    margin-top: 5px;

    &:nth-child(3) {
      font-size: 1rem;
      margin-top: 30px;
    }

    &:nth-child(4) {
      font-size: 1rem;
    }
  }
}
