body {
  background-color: #323232;
  color: white;
  font-family: 'BodoniflfRoman', sans-serif !important;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'BodoniflfRoman';
  src:
    local('BodoniflfRoman'),
    url(./fonts/BodoniflfRoman-vmAD.ttf) format('truetype');
}
