body {
  margin: 0;
  font-family: 'BodoniflfRoman', sans-serif !important;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  padding: 0;
  background-color: #323232;
  color: white;
}

@font-face {
  font-family: 'BodoniflfRoman';
  src: local('BodoniflfRoman'), url(./fonts/BodoniflfRoman-vmAD.ttf) format('truetype');
}
