/* Estilos generales para la barra de navegación */
.navbar {
  background-color: #323232 !important;
  border-bottom: 2px solid #ffd700; /* Línea dorada */
  padding: 0.5rem 1rem;
}

.navbar-brand {
  color: #ffd700 !important; /* Color dorado */
  font-family: 'BodoniflfRoman', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #ffffff !important; /* Color blanco al pasar el ratón */
  text-shadow:
    0 0 5px #ffd700,
    0 0 10px #ffd700; /* Efecto de resplandor dorado */
}

/* Estilos para los enlaces de navegación */
.nav-link {
  color: #ffd700 !important; /* Color dorado */
  font-family: 'BodoniflfRoman', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

.nav-link:hover {
  color: #ffffff !important; /* Color blanco al pasar el ratón */
  text-shadow:
    0 0 5px #ffd700,
    0 0 10px #ffd700; /* Efecto de resplandor dorado */
}

/* Estilos para el contenedor */
.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* Estilos para las pantallas pequeñas */
@media (max-width: 576px) {
  .navbar {
    padding: 0.5rem;
  }
  .navbar-brand {
    font-size: 1.2rem;
  }
  .nav-link {
    align-items: center;
    display: flex;
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0.5rem;
  }
}
