/* Contenedor principal */
div {
  text-align: center;
}

.block-celebration,
.block-location {
  background-color: #323232;
  color: white;
  margin: 20px 0;
  text-align: left;

  p {
    font-size: 1.25rem;
    margin: 5px 0;
  }
}

.center-container {
  align-items: center;
  background-color: #323232;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.h2-location,
.h3-location {
  color: #ffd700;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.location-text {
  flex-direction: column;
  margin-left: 5vh;
  text-align: left;
}

.map {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.map-container {
  align-items: center;
  background-color: #323232;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* vertical mobile display */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .center-container {
    flex-direction: column;
  }
  .location-text {
    margin-left: 1vh;
  }
}

/* horizontal mobile display */
@media only screen and (max-height: 600px) and (orientation: landscape) {
  .center-container {
    flex-direction: column;
  }
}
