.block-celebration, .block-location {
  margin: 20px 0;
  background-color: #323232;
  color: white;

  p {
    margin: 5px 0;
  }
}

/* Contenedor para centrar todo */
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #323232;
}
